<h1><%= @athlete.name %></h1>
<p>
  Hometown: <%= @athlete.hometown %>, <%= @athlete.state %> <br>
  Stats:    <%= @athlete.gender %> | <%= @athlete.height_neat %> | <%= @athlete.weight %>lbs <br>
  Bio: <br>
  <%= @athlete.bio %>
</p>
<h3>Events Team Competing In:</h3>
<p>
  <ul>
    <% @athlete.team.events.uniq.each do |event| %>
      <li>
        <%= link_to event.title, event_path(event) %>
      </li>
    <% end %>
  </ul>
</p>
<h3>Remaining Roster:</h3>
<p>
  <ul>
    <% @athlete.team.athletes.each do |athlete| %>
      <li>
        <%= link_to athlete.name, athlete_path(athlete) %>
      </li>
    <% end %>
  </ul>
</p>

<%= form_for(athlete_path(@athlete), controller: 'athlete', method: :edit) do |f| %>
  <%= f.submit 'Edit Athlete' %>
<% end %>
