<h1><%= @competition.name %></h1>
  <p>
    Location: <%= @competition.location %><br>
    <%= @competition.description %>
  </p>
  <h3>Teams Competing: </h3>
  <ul>
  <% @competition.teams.each do|team| %>
      <li><%= link_to team.name, team_path(team) %></li>
    <% end %>
  </ul>
  <h3>Events: </h3>
  <ul>
  <% @competition.events.each do|event| %>
      <li><%= link_to event.title, event_path(event) %></li>
    <% end %>
  </ul>
  <br>
<% if @user.id == @competition.competition_manager_id %>
  <%= link_to "Edit Competition", "/competitions/#{@competition.id}/edit" %><br>
  <%= link_to "Add Event", "/competitions/#{@competition.id}/event/new" %><br>
  <%= link_to "Add Team", "/competitions/#{@competition.id}/team/new" %><br>
<% end %>
