<h1><%= @competition.name %> Statistics</h1>
<p>
  Total Number of Events: <%= @competition.events.count %> <br>
  Total Number of Teams:  <%= @competition.events.count %> <br>
  <h2>Event Summary: </h2>
    <% @competition.events.each do |event| %>
    <h3><%= event.title %></h3>
    Event Score Type: <%= event.score_type %><br>
    Average Score: <%= event.average_score %>
    <ol>
      <% event.rankings.each do |score| %>
        <li>
          <%= link_to "#{score.team.name} | #{score.score_output}", team_path(score.team) %>
        </li>
      <%end%>
    </ol>
    <%end%>
</p>
