<!DOCTYPE html>
<html>
  <head>
    <title>CmsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <p>
      <%= link_to "All Competitions", competitions_path %><br>
      <%= link_to "All Events", events_path %><br>
      <%= link_to "All Teams", teams_path %>
    </p>
  </body>
</html>
