<% if flash[:error] %>
<% flash[:error].each do |e| %>
<p><%= e %></p>
<%end%>
<%end%>

<%= form_for @event do |f| %>
<%= f.label "Title:" %>
<%= f.text_field :title %><br/>
<%= f.label "Description:" %>
<%= f.text_field :description %><br/>
<%= f.label "Score Type:" %>
<%= f.text_field :score_type %><br>
<%= f.label "Time:" %>
<%= f.time_field :time %><br>
<%= f.label "Competition:" %>
<%= f.collection_select :competition_id, Competition.all, :id, :name, {:prompt => "Please select a Competition"} %><br>
<%= f.label "Event Manager:" %>
<%= f.collection_select :event_manager_id, @event_managers, :id, :name, {:prompt => "Please select an EventsController Manger"}%><br>
<%= f.submit %>
<% end %>
