<h1><%= @event.title %></h1>
<p>Event Time: <%= @event.time == nil ? "" : @event.time.strftime("%m/%d/%y - %l:%M %P") %><br>
  Event Discription: <br>
  <%= @event.description %><br>
  Score Type:
  <%= @event.score_type %></p>
<h3>Teams Competing</h3>
<p>
  <ul>
    <% @event.teams.uniq.each do |team| %>
      <li>
        <%= link_to team.full_name, team_path(team) %>
      </li>
    <% end %>
  </ul>
</p>


<%= link_to "Edit Event", "/events/#{@event.id}/edit" %>
