<h1><%= @event.title %></h1>
<p><%= @event.time.strftime(%m/%d/%y - %l:%M %P) %></p>
<p><%= @event.description %></p>
<p><%= @event.score_type %></p>
<br>
<h3>Teams Competing</h3>
<p>
  <ul>
    <% @event.teams each do |team| %>
      <li>
        <%= link_to team.full_name, team_path(team) %>
      </li>
    <% end %>
  </ul>
</p>
